body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#slide img {
    width: 100%; /* Obrázek zabere celou šířku dostupného prostoru */
    height: auto; /* Výška se přizpůsobí šířce, aby zachovala poměr stran */
    border-radius: 10px; /* Pokud chceš zakulatit rohy, můžeš ponechat, nebo odstranit */
    margin-bottom: 20px; 
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
